body{
  background-color: #acf;
}

.timeclock{
  display: flex;
  width: 70%;
  margin-left: 15%;
  background-color: red;
}

.timeholder{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 5px solid #999;
  border-left: 5px solid #777;
  border-bottom: 5px solid #333;
  border-right: 5px solid #555;
  height: 145px;
  font-family: 'Big Shoulders Stencil Display';
  font-size: 120px;
  text-align: center;
  color: #040;
  background-color: #4c4;
}

.date{
  width: 70%;
  color: #333;
  background-color: #f84;
  border: none;
  font-family: 'Candal';
  font-size: 15px;
  text-decoration: underline;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.date:hover{
  cursor: pointer;
}

.fulldate{
  display: none;
  width: 70%;
  height: 100px;
  text-align: left;
  color: #333;
  font-family: 'Candal';
  font-size: 30px;
  background-color: #f84;
  border-bottom: 30px solid #333;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
